@media screen and (max-width:430px){
    #fp2{
        display: none;
    }
}

@media screen and (max-width:1020px){
    #fp3{
        display: none;
    }
}
.font1
{
    font-family: Josefin Sans;
    font-weight: 600;
}
.font1
{
    font-family: josefin Sans;
    font-weight: 500;
}