@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
.big1:hover {
    transform: scale(1.1);
    letter-spacing: 1px;
}

.big1 {
    transition: 0.2s;
    letter-spacing: 1px;
}

.spc {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    width: 100vw;
}

.position1 {
    position: sticky !important;
    z-index: 1;
}

.w11 {
    width: 100vw;
    z-index: 1;

}
.mm11
{
    /* margin:auto; */
    margin-right: 10px;
    
}

.button {
    border-radius: 6px;
    /* background-color: #000000; */
    /* background-color: #1F2937; */
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 8px 10px !important;
    width: 70px;
    transition: all 0.4s;
    cursor: pointer;
    /* margin: 5px;  */
    font-family: Josefin Sans;
    font-weight: 700;
    letter-spacing: 1px;
}
.button:hover{
    color: orange;
    background-color: #111827;

}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    /* right: -10px; */
    transition: 0.5s;
}

.button:hover span {
    padding-right: 15px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}